body{
    background-color: #f3eaed;
    font-family: 微软雅黑;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 10px;
}

.emoji {
    position: absolute;
    top: -50px; /* Start above the top of the screen */
    font-size: 2em;
    animation: fall linear infinite;
}
@keyframes fall {
    to {
        transform: translateY(300vh); 
    }
}