body{
    background-color: #f3eaed;
    font-family: 微软雅黑;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 10px;
}

.emoji {
    position: absolute;
    top: -50px; /* Start above the top of the screen */
    font-size: 2em;
    animation: fall linear infinite;
}
@keyframes fall {
    to {
        transform: translateY(150vh); /* Move to below the bottom of the screen */
    }
}
.floating-emoji {
    position: absolute;
    font-size: 2em;
    animation: float-up 2s ease-out forwards, fade-out 2s ease-out forwards;
}
@keyframes float-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px); /* Move up */
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0; /* Fade out */
    }
}