body{
    background-color: #f3eaed;
    font-family: 微软雅黑;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 10px;
}
h1,h2,h3{
    color: #333;
}

div{
    margin: 0;
    padding: 30px;
    position: relative;
}

.right{
    text-align: right;
    display: block;
}
@font-face {
    font-family: 'Bahnschrift';
    src: url('../font/bahnschrift.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: '华文中宋';
    src: url('../font/华文中宋.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Handwriting';
    src: url('../font/lucida-handwrit.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: '幼圆';
    src: url('../font/幼圆字体.TTF') format('truetype');
    font-display: swap;
}

.ziti {
    font-family: 'Bahnschrift', sans-serif;
}

.ziti2 {
    font-family: '华文中宋', sans-serif;
}

.ziti3 {
    font-family: 'Lucida Handwriting', sans-serif;
}

.ziti4 {
    font-family: '幼圆', sans-serif;
}








p{
    display: block;
}







.emoji {
    position: absolute;
    top: -50px; /* Start above the top of the screen */
    font-size: 2em;
    animation: fall linear forwards;
}
@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(150vh); /* Move to below the bottom of the screen */
        opacity: 0; /* Fade out */
    }
}
.floating-emoji {
    position: absolute;
    font-size: 2em;
    animation: float-up 2s ease-out forwards, fade-out 2s ease-out forwards;
}
@keyframes float-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px); /* Move up */
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0; /* Fade out */
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards; /* 2s is the duration of the animation */
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }

}














/* 

.emoji {
    position: absolute;
    top: -50px;
    font-size: 2em;
    animation: fall linear infinite;
}
@keyframes fall {
    to {
        transform: translateY(150vh); 
    }
}
.floating-emoji {
    position: absolute;
    font-size: 2em;
    animation: float-up 2s ease-out forwards, fade-out 2s ease-out forwards;
}
@keyframes float-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px); 
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0; 
    }
} */